extends ../layout.pug 

block content
    h2 Detalle del Cliente
    h3 Nombre: #{cliente.nombre} 
    h3 Apellidos: #{cliente.apellidos}
    hr
    h3 Dirección: #{cliente.direccion}
    h3 Email: #{cliente.email}
    h3 Edad: #{cliente.edad}
    h3 Género: #{cliente.genero}
    h3 Cuota: #{cliente.cuota}
    h3 Fecha de Nacimiento: #{cliente.fecha_nacimiento} 
    h3 DNI: #{cliente.dni}

